.welcomebannerContainer{
    background-image: url('../assets/banner.jpg');
    background-size: cover;
    background-position: center;
    aspect-ratio: 10 / 4;
    width: 100%;
    margin-top: 10px;
    position: relative;
}



.signupContainer {
    position: absolute; 
    top: 75%;
    left: 20%; 
    transform: translate(-50%, -50%);  

}



