.strip {
    margin-bottom: 10px;
}

.latestDropStrip {
margin: 40px 10px; 

display: flex;
justify-content: space-between;

}

.latestDropStripText {
    font-size: 10px; 
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    cursor: pointer;
}

@media screen and (max-width : 768px){ 
    .latestDropStripText {
        font-size: 6px;
    } 
    
}